.jumbotron {
  padding: 0.5rem;
  background-color:#628ea5;
  border-radius: 0;
  height: 70px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}

p {
  margin-bottom: 0;
  color: #ffffff;
  font-size: 2.4vmin;
}

h1 {
  color: #ffffff;
  font-size: 1.5rem;
  font-family: 'Microsoft Yahei';
}

body {
  background: #f1f1f1;
  line-height: 3.1vmin;
  font-family: 'Microsoft Yahei';
}

.main {
  padding-top: 80px;
  z-index: 1;
}

.plot {
  border: 2px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 3px #bbb;
  padding: 8px;
  margin-bottom: 10px;
  background: #ffffff;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 2vmin;
  border-radius: 1vmin;  
  background: rgb(98 142 165 / 50%);
  outline: none;
  opacity: 0.5;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 3.5vmin;
  height: 3.5vmin;
  border-radius: 50%; 
  background: #384d61;
  cursor: pointer;
}

.slider_label {
  text-align: center;
  font-size: 2.4vmin;
  padding-top: 0.3vmin;
  padding-bottom: 0.1vmin;
}

.range-slider_value {
  text-align: left;
}

.row {
  margin-left: 280px;
  margin-right: 0;
}

#controlbar {
  text-align: center;
  position: fixed;
  left: 0;
  top: 70px;
  padding: 0.5rem;
  height: 65%;
}

#switch {
  margin-top: 1vmin;
  text-align: center;
  font-size: 2.4vmin;
}

.btn.btn-secondary {
  background-color: #384d61;
  border-color: #384d61;
  color: #f1f1f1;
  font-size: 2.5vmin;
}

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
  background-color: #d3e7ec;
  border-color: #384d61;
  color: #4e4c4cfb;
}

.btn-group-lg>.btn, .btn-lg {
  padding: .5rem .6rem;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #80aab0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 8%;
}

.sidenav a {
  padding: 8px 8px 8px 12px;
  text-decoration: none;
  color: #d3e7ec;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.menu_btn {
  float: left;
  color: #384d61;
  background-color: #384d61;
  padding: 0;
  border: 0;
  margin-top: 2%;
}

#info {
  float: right;
  padding: 0;
  border: 0;
  background-color: transparent;
  color: #2f89a0;
}

.infotable {
  width: 20%;
  text-align: center;
  border: 1px solid black;
  border-collapse: collapse;
}

.modal-lg {
  max-width: 900px;
}

footer {
  margin-top: 1rem;
  padding: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #628ea514;
}
